.footer {
    color: white;
    background: #222;
    vertical-align: bottom;
    bottom: 0;
    text-align: left;
    width:100%;
}

.mycolumn {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.myrow:after {
    content: "";
    display: table;
    clear: both;
}